@model Product


@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Product</title>
     <script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>  
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
 
        
        <form  method="post" action="/api/users/products/edit/@Model.ProductId">
            <p>
           @Html.Label("Product Name:")
           @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control"})
           @Html.ValidationMessageFor(model=>model.ProductName)
           </p>
           <p>
           @Html.Label("Product Type:")
           @Html.TextBoxFor(model => model.ProductType, new { @class = "form-control"})
           @Html.ValidationMessageFor(model=>model.ProductType)
           </p>

           <p>
           @Html.Label("Product Price:")
           @Html.TextBoxFor(model => model.ProductPrice, new { @class = "form-control"})
           @Html.ValidationMessageFor(model=>model.ProductPrice)
           </p>
           
            <p>
           @Html.Label("Product Quantity:")
           @Html.TextBoxFor(model => model.ProductQuantity, new { @class = "form-control"})
           @Html.ValidationMessageFor(model=>model.ProductQuantity)
           </p>

            <p>
           @Html.Label("Product Cost:")
           @Html.TextBoxFor(model => model.ProductCost, new { @class = "form-control"})
           @Html.ValidationMessageFor(model=>model.ProductCost)
           </p>

            <p>
           @Html.Label("Product Code:")
           @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control"})
           @Html.ValidationMessageFor(model=>model.ProductCode)
           </p>
          


            <button type="submit" class="btn btn-info">Submit</button>

        </form>

</body>
</html>

